/* 参考：https://nakox.jp/web/css/list_count_css */

body {
    background: #faf0e6;
    font-family: 'Open Sans', sans-serif;
}

.count{
  counter-reset: chapter;
}

.count li {
  margin-bottom: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #cde2e8;
}

.count li:before {
  content: "人気 "counter(chapter) " 位";
  counter-increment: chapter;
  margin: 0 5px 0 0;
  padding:10px;
  border-radius: 50px;
  background: #30b0d8;
  color: #fff;
  text-align: center;
}

.count li:nth-child(2n):before {
  background: #85aa5b;
}

.count li:nth-child(3n):before {
  background: #c96bc4;
}

.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-300px; /*widthの半分にする*/
    margin-top:-100px;/*heightの半分にする*/

    padding-left:8px;
    padding-right:8px;
    padding-top:8px;

    width:600px;
    height:200px;
    background-color:#FFFFFF;
}

.btn-square-pop {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.btn-square-pop:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
